/* Estilo geral */
body {
    margin: 20px;
    background-color: white;
    font-family: sans-serif;
    font-size: 17px;
    color: #666;
    line-height: 2;
    text-align: justify;
  }
  
  header {
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Estilos especificos */
  h1 {
    color: rgba(255, 0, 0, 0.788);
    font-size: xx-large;
    transition: 0.5s;
  }
  
  h1:hover {
    color: red;
    transform: scale(1.05);
  }
  
  h2 {
    color: rgba(#666);
    transition: 0.5s;
  }
  
  h2:hover {
    color: red;
    transform: scale(1.05);
  }
  
  .theater {
    padding: 20px;
    margin: 20px;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
  }
  
  .theater h2 {
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  img {
    width: 100%;
    height: auto;
    transition: 0.5s;
  }
  
  img:hover {
    transform: scale(1.50);
  }
  
  a {
    color:rgba(255, 0, 0, 0.788);
    transition: 0.5s;
  }
  
  a:hover {
    color: red;
    transform: scale(1.05);
  }
  
  table,
  th,
  td,
  tr {
    border: 2px solid;
    border-collapse: collapse;
    padding: 2px 5px;
    text-align: center;
  }
  
  table {
    width: 100%;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
  }
  
  .time-container {
    display: flex;
    align-items: flex-start;
  }

  .horario-container{
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .theater {
      width: 100%;
    }
  }